# .env

# LLM
QWEN_API_KEY=
QWEN_MODEL=
QWEN_BASE_URL=
# 温度
TEMPERATURE=0.3
# 最大推理数
MAX_ITERATIONS=10

# 代理地址(选填)
PROXY=

# 查询实时天气
QWEATHER_API=
QWEATHER_API_HOST=
# Web搜索
BOCHA_API_KEY=
BOCHA_BASE_URL=

# Qdrant
QDRANT_HOST=localhost
QDRANT_PORT=your_port
QDRANT_COLLECTION=company_docs

# SiliconFlow Embedding（和 QWEN 用同一个 key）
EMBEDDING_API_KEY=
EMBEDDING_BASE_URL=
EMBEDDING_MODEL=

# 重排序模型
RERANKER_BASE_URL=your_url
RERANKER_API_KEY=your_key
RERANKER_MODEL=model_name

# PostgreSQL 配置
POSTGRES_USER=your_user_name
POSTGRES_PASSWORD=your_password
POSTGRES_DB=your_db
POSTGRES_HOST=localhost
POSTGRES_PORT=your_host
DATABASE_URL=postgresql+asyncpg://your_user_name:your_password@localhost:your_host/your_db

# 历史记录压缩条数
SUMMARY_THRESHOLD=

# JWT
JWT_SECRET=生成随机JWT

CHECKPOINT_DB_URL=